  body {
      margin: 0;
      font-family: sans-serif;
      height: 100vh;
    }

    #sidebar {
      width: 100%;
      overflow-y: auto;
      background: #f8f9fa;
      border-right: 1px solid #ccc;
      padding: 1rem;
      box-sizing: border-box;
    }

    #map {
      width: 100vw; 
      height: 35vh; 
    }

    #businessList {
      margin-top: 10px;
      border-top: 1px solid #ddd;
      padding-top: 15px;
    }

    .business {
      margin-bottom: 15px;
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }

    .business h3 {
      margin: 0 0 5px;
      font-size: 1.1rem;
    }

    .business p {
      margin: 2px 0;
      font-size: 0.9rem;
    }

    .business a {
      color: #0077cc;
      text-decoration: none;
    }

    .business a:hover {
      text-decoration: underline;
    }

    .filter-buttons {
      margin-bottom: 10px;
    }

    .filter-buttons button {
      margin: 2px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      background: white;
      cursor: pointer;
      font-size: 0.9rem;
    }

    .filter-buttons button.active {
      background-color: #0077cc;
      color: white;
      border-color: #005fa3;
    }

    #searchInput {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 0.9rem;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    .mapboxgl-popup-content {
      width: 280px;
      min-height: 120px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      text-align: center;
      padding: 10px 12px;
    }
    
    .popup-logo {
      max-width: 105px;
      max-height: 80px;
      margin-bottom: 12px;
      margin-left: auto;
      margin-right: auto;
    }